/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-item {
  transition: 300ms;
  cursor: pointer;
  padding: 10px 0;
  height: 30px;
}

.list-item a {
  text-decoration: none;
  color: #000;
}

.list-item :hover {
  color: green;
}

.list-item:hover .hidden-list {
  display: block;
}

.hidden-list {
  display: none;
  position: absolute;
  padding: 10px;
  list-style: none;
  background-color: rgb(44, 43, 43);
}

.hidden-list .list-item a {
  color: #fff;
} */
